/* not used yet, just for reference */

.badge {
    --bs-badge-padding-x: 0.65em;
    --bs-badge-padding-y: 0.35em;
    --bs-badge-font-size: 0.75em;
    --bs-badge-font-weight: 700;
    --bs-badge-color: #fff;
    --bs-badge-border-radius: 0.375rem;

    display: inline-block;
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
    font-size: var(--bs-badge-font-size);
    font-weight: var(--bs-badge-font-weight);
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: var(--bs-badge-border-radius);

    /* adjusting the badge position */
    /* margin-top: 8px;  */
    font-family: Arial, Helvetica, sans-serif;
}

.text-bg-primary {
    color: #fff!important;
    background-color: RGBA(13,110,253,var(--bs-bg-opacity,1))!important;
}

.text-bg-secondary {
    color: #fff!important;
    background-color: RGBA(108,117,125,var(--bs-bg-opacity,1))!important;
}

.text-bg-success {
    color: #fff!important;
    background-color: RGBA(25,135,84,var(--bs-bg-opacity,1))!important;
}

.text-bg-warning {
    color: #000!important;
    background-color: RGBA(255,193,7,var(--bs-bg-opacity,1))!important;
}
